$hero-bg: #FFB8CA; // цвет фона
$white: rgba(255, 255, 255, 1); // белый :)
$accent: rgba(212, 20, 67, 1); // акцент
$accent-hover: rgba(199, 19, 62, 1); // фон-ховер на малиновую кнопку
$white-hover: rgba(236, 235, 235, 1); // фон-ховер на белую кнопку
$h-font: "Titan One"; //шрифт заголовка
$main-font: "DM Sans"; // главный шрифт
$ellipce: rgba(255, 165, 186, 1);