<section class="feedback">
    <div class="container">
      <picture>
            <source srcset="./images/feedback/mob-testimonials.jpg 1x, ./images/feedback/mob-testimonials@2x.jpg 2x"
            type="image/jpg"
            media="(max-width:767px)"
            />
            <source srcset="./images/feedback/tab-testimonials.jpg 1x, ./images/feedback/tab-testimonials@2x.jpg 2x"
            type="image/jpg"
            media="(min-width:768px)"
            />
            <source srcset="./images/feedback/desk-testimonials.jpg 1x, ./images/feedback/desk-testimonials@2x.jpg 2x"
            type="image/jpg"
            media="(min-width:1200px)"
            />
            <img class="feedback-photo" src="./images/feedback/mob-testimonials.jpg" 
            alt="Emily">
        </picture>
        <div class="feedback-description">
            <svg width="54" height="40">
            <use href="./images/svg/double-quotes-bg.svg"></use>
            </svg>
<p class="feedback-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. 
    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
</div>
<p class="feedback-text-name">Emily, Los Angeles</p>  
</div>
</section>