<section class="feedback">
<div class="container">
        <picture>
            <source srcset="./images/feedback/mob-testimonials.jpg 1x, ./images/feedback/mob-testimonials@2x.jpg 2x"
            type="image/jpg"
            media="(max-width:767px)"
            />
            <source srcset="./images/feedback/tab-testimonials.jpg 1x, ./images/feedback/tab-testimonials@2x.jpg 2x"
            type="image/jpg"
            media="(min-width:768px)"
            />
            <source srcset="./images/feedback/desk-testimonials.jpg 1x, ./images/feedback/desk-testimonials@2x.jpg 2x"
            type="image/jpg"
            media="(min-width:1200px)"
            />
            <img class="feedback-photo" src="./images/feedback/mob-testimonials.jpg" 
            alt="Emily">
        </picture>

        <div class="feedback-description">
            <svg class="feedback-quotes">
                <use href="./images/svg/feedback.svg#icon-double-quotes-bg"></use>
            </svg>
            <div class="feedback-wrapper-for-text">
                <p class="feedback-text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. 
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <div class="feedback-stripes"></div>
            </div>
        </div>

        <div class="feedback-circle">
            <span class="feedback-circle-icon"></span>
            <span class="feedback-circle-icon"></span>
            <span class="feedback-circle-icon"></span>
        </div>
        <p class="feedback-text-name">Emily, Los Angeles</p>  
    </div>
    <ul class="feedback-icons">
        <li class="feedback-icons-label"> 
            <a class="feedback-icon-list" href="">
                <svg class="feedback-icon-list-svg">
                    <use href="./images/svg/feedback.svg#icon-house"></use>
                </svg>
            </a>
        </li>
        <li class="feedback-icons-label"> 
            <a class="feedback-icon-list-background" href=""></a>
        </li>
        <li class="feedback-icons-label"> 
            <a class="feedback-icon-list-background" href=""></a>
        </li>
    </ul>
</section>