<footer>
    <section class="footer">
        <div class="footer-text">
            <div class="footer-text-rose">homemade ice cream made</div>
            <div class="footer-text-red"> with passion </div>
        </div>
        <div class="footer-social-icons">
            <ul>
                <li> 
                    <a href="">
                     <svg width="20" height="20">
                            <use href="./images/svg/footer-socials.svg#icon-github">
                             </use>
                     </svg>
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <svg width="22" height="16">
                            <use href="./images/svg/footer-socials.svg#icon-telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg width="11" height="22">
                            <use href="./images/svg/footer-socials.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
            <address class="footer-tel">
                Feel free to contact 
                <a href="tel:+610383766284" >
                   +61 (0) 383 766 284
                </a>
            </address>
        </div>
    </section>
            <div class="footer-copyright">
                &#169; 2019 - IceCream. All Rights Reserved 
            </div>
</footer>