<header class="header">
    <div class="header-content-wrapper container">
        <div class="header-flex-container">
            <div class="header-logo">
                <a href="#" class="header-logo-link">
                    <img src="./images/header/logo1x.png" alt=""><span class="header-logo-title">icecream</span>
                </a>
            </div>

            <div class="header-navigation-wrapper header-flex-container" role="group" data-menu="#" aria-expanded="true"> <!-- is-close -->
                <nav class="header-main-navigation" data-menu="#" aria-expanded="true"> <!-- is-close -->
                    <ul class="header-main-navigation-list" data-menu="#" aria-expanded="true" > <!-- is-close -->
                        <li class="header-main-navigation-list__item"><a href="#" class="header-main-navigation-list__item-link header-current-link">Home</a></li>
                        <li class="header-main-navigation-list__item"><a href="#aboutus" class="header-main-navigation-list__item-link">About&nbsp;us</a></li>
                        <li class="header-main-navigation-list__item"><a href="#howitsmade" class="header-main-navigation-list__item-link">How&nbsp;it’s&nbsp;made?</a></li>
                        <li class="header-main-navigation-list__item"><a href="#ourproducts" class="header-main-navigation-list__item-link">Our&nbsp;products</a></li>
                        <li class="header-main-navigation-list__item"><a href="#contact" class="header-main-navigation-list__item-link">Contact</a></li>
                    </ul>
                </nav>
                <div class="header-burger-menu" data-menu="#" aria-expanded="true"> <!-- is-close -->
                    <button class="header-burger-button" type="button" data-menu-button> <!-- is-close -->
                        <svg class="header-burger-menu-svg" width="20" height="20" aria-label="Переключатель мобильного меню">
                            <use class="icon-close" href="./images/svg/sprite.svg#icon-close"></use>
                            <use class="icon-burger" href="./images/svg/sprite.svg#icon-burger"></use>
                        </svg>
                    </button>
                </div>
                <div class="header-button" data-menu="#" aria-expanded="true"> <!-- is-close -->
                    <button class="button button-light button-arrow" type="button">
                        <span class="button-title">Buy&nbsp;now</span>
                        <svg class="arrow" height="8" width="8">
                            <use href="./images/svg/sprite.svg#icon-arrow-right-button"></use>
                        </svg>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</header>