<section class="hero hero-section">
    <h1>
        <span class="hero-title-st">ice cream <br>
                                    made with</span> <br>
        <span class="section-title-text">passion</span>
    </h1>


    <ul class="hero-list hero-buttons">
        <li>
            <button type="button" class="hero-button hero-products-button">Products</button>
        </li>
        <li>
            <button type="button" class="hero-button hero-how-its-made-button">How it’s made?</button>
        </li>
    </ul>

    <div class="ellipce"></div>
    <div class="ice-cream"></div>

    <div class="hero-product">

        <picture>
            <source>
            <source>
            <img src="" alt="">
        </picture>

        <div class="hero-product-description">
            <p class="hero-description-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>

            <a href="" class="hero-description-link">        
            </a>
        </div>   
    </div>

    <ul class="hero-list hero-numbers">
        <li>
            <span class="hero-num">16</span><br>cafes
        </li>

        <li>
            <span class="hero-num">23</span><br>food trucks
        </li>
    </ul>

</section>