<section class="hero hero-section" id="aboutus">
    <div class="container">
        <div class="hero-title-container">
            <h1>
                <span class="hero-title-st">ice cream <br>
                                            made with</span> <br>
                <span class="hero-section-title-text">passion</span>
            </h1>
     
            <ul class="hero-list hero-numbers">
                <li class="hero-num-one">    <!--перестал работать нот ласт чайлд, так задаю отступ-->
                    <span class="hero-num">16</span><br>cafes     
                </li>
     
                <li>
                    <span class="hero-num">23</span><br>food trucks
                </li>
            </ul>
        </div>
     
         <ul class="hero-list hero-buttons">
            <li>
                <button type="button" class="button button-dark">Products</button>
            </li>
            <li>
                <button type="button" class="button button-light">How&nbsp;it’s&nbsp;made?</button>
            </li>
        </ul>
     
        <div class="hero-ellipce"></div>         <!--абсолютно вынят из потока-->
        <div class="ice-cream"></div>             <!--абсолютно вынят из потока-->
     
    
        
        <div class="hero-product">
            <div class="hero-milk-img"></div>
            <div class="hero-product-description">
                <p class="hero-description-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
     
                <a href="" class="hero-description-link"> 
                    <img class="hero-link-img" src="./images/hero/tab-arrow-right.png" alt="">       
                </a>
            </div>   
        </div>
    
        <div class="hero-girl"></div>

    </div>
</section>