<section class="how-its-made">
  <div class="container">
    <div class="how-its-made-title-subtitle">
      <h3 class="how-its-made-subtitle">tradition and love</h3>
      <h2 class="how-its-made-title">how it’s made?</h2>
    </div>

    <div class="how-its-made-title-picture-text">
      <picture aria-label="image of cow and milk">
        <source
          srcset="
            ./images/how-its-made/cow-desktop.png    1x,
            ./images/how-its-made/cow-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/how-its-made/cow-tablet.png    1x,
            ./images/how-its-made/cow-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/how-its-made/cow-mobile.png    1x,
            ./images/how-its-made/cow-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/jpg"
        />

        <img
          class="foto-cow"
          src="./images/how-its-made/cow-mobile.png"
          alt="image of cow and milk"
        />
      </picture>
      <div class="how-its-made-discription-button">
        <p class="how-its-made-discription1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="how-its-made-discription2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="how-its-made-discription3">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="how-its-made-button">
          Read more
          <svg class="how-its-made-svg">
            <use href="./images/svg/sprite.svg#icon-arrow-right-button"></use>
          </svg>
        </button>
      </div>
    </div>

    <ul class="how-its-made-list list">
      <li class="how-its-made-item">
        <strong class="how-its-made-number">721</strong>
        <p class="how-its-made-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="how-its-made-item">
        <strong class="how-its-made-number">16kg</strong>
        <p class="how-its-made-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="how-its-made-item">
        <strong class="how-its-made-number">84</strong>
        <p class="how-its-made-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
