<section class="images">
<div class="images-wrapper">
  <ul class="images-wrapper-list">
    <li>
      <img
        src="./images/images-section/icecream1.png"
        alt="icecream"
        width="138"
        height="138"
      />
    </li>
    <li>
      <img
        src="./images/images-section/icecream2.png"
        alt="icecream"
        width="138"
        height="138"
      />
      <img
        src="./images/images-section/icecream3.png"
        alt="icecream"
        width="138"
        height="138"
      />
    </li>
    <li>
      <img
        src="./images/images-section/icecream4.png"
        alt="icecream"
        width="283"
        height="283"
      />
      <img
        src="./images/images-section/icecream5.png"
        alt="icecream"
        width="138"
        height="138"
      />
    </li>
    <li class="images-wrapper-list-four">
      <img
        src="./images/images-section/icecream6.png"
        alt="icecream"
        width="138"
        height="138"
      />
      <img
        src="./images/images-section/icecream7.png"
        alt="icecream"
        width="138"
        height="138"
      />
    </li>
    <li>
      <img
        src="./images/images-section/icecream8.png"
        alt="icecream"
        width="138"
        height="138"
      />
      <img
        src="./images/images-section/icecream9.png"
        alt="icecream"
        width="138"
        height="138"
      />
    </li>
    <li>
      <img
        src="./images/images-section/icecream10.png"
        alt="icecream"
        width="138"
        height="138"
      />
    </li>
  </ul>
</div>
</section>