<section class="products-section">
  <div class="products-container">
    <b class="products-sub-title">100% natural</b>
    <h2 class="products-title">products</h2>

    <!-- Products List -->

    <ul class="products-list list">
      <li class="product-item">
        <picture>
          <!-- 01 Mobile 320 -->

          <source
            srcset="
              ./images/products/mobile/product-1-249.webp 1x,
              ./images/products/mobile/product-1-498.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/products/mobile/product-1-249.png 1x,
              ./images/products/mobile/product-1-498.png 2x
            "
            media="(max-width: 767px)"
          />

          <!-- 01 Tablet 768 -->

          <source
            srcset="
              ./images/products/tablet/product-1-220.webp 1x,
              ./images/products/tablet/product-1-440.webp 2x
            "
            type="image/webp"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/products/tablet/product-1-220.png 1x,
              ./images/products/tablet/product-1-440.png 2x
            "
            media="(max-width: 1279px)"
          />

          <!-- 01 Desktop 1280 -->

          <source
            srcset="
              ./images/products/desktop/product-1-335.webp 1x,
              ./images/products/desktop/product-1-670.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/products/desktop/product-1-335.png 1x,
              ./images/products/desktop/product-1-670.png 2x
            "
            media="(min-width: 1280px)"
          />

          <img
            class="product-image"
            src="./images/products/desktop/product-1-335.png"
            alt="Клубничное мороженное"
          />
        </picture>

        <!-- Meta -->

        <div class="product-meta">
          <h3 class="product-title">ice cream</h3>
          <span class="product-circles"></span>
          <span class="product-circles"></span>
          <span class="product-circles"></span>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <a class="product-button" href="" aria-label="Кнопка заказать"> </a>
      </li>

      <li class="product-item">
        <picture>
          <!-- 02 Mobile 320 -->

          <source
            srcset="
              ./images/products/mobile/product-2-249.webp 1x,
              ./images/products/mobile/product-2-498.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/products/mobile/product-2-249.png 1x,
              ./images/products/mobile/product-2-498.png 2x
            "
            media="(max-width: 767px)"
          />

          <!-- 02 Tablet 768 -->

          <source
            srcset="
              ./images/products/tablet/product-2-220.webp 1x,
              ./images/products/tablet/product-2-440.webp 2x
            "
            type="image/webp"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/products/tablet/product-2-220.png 1x,
              ./images/products/tablet/product-2-440.png 2x
            "
            media="(max-width: 1279px)"
          />

          <!-- 02 Desktop 1280 -->

          <source
            srcset="
              ./images/products/desktop/product-2-337.webp 1x,
              ./images/products/desktop/product-2-674.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/products/desktop/product-2-337.png 1x,
              ./images/products/desktop/product-2-674.png 2x
            "
            media="(min-width: 1280px)"
          />

          <img
            class="product-image"
            src="./images/products/desktop/product-1-335.png"
            alt="Клубничное мороженное"
          />
        </picture>

        <!-- Meta -->

        <div class="product-meta">
          <h3 class="product-title">ice coffee</h3>
          <span class="product-circles"></span>
          <span class="product-circles"></span>
          <span class="product-circles"></span>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <a class="product-button" href="" aria-label="Кнопка заказать"></a>
      </li>

      <li class="product-item">
        <picture>
          <!-- 03 Mobile 320 -->

          <source
            srcset="
              ./images/products/mobile/product-3-249.webp 1x,
              ./images/products/mobile/product-3-498.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/products/mobile/product-3-249.png 1x,
              ./images/products/mobile/product-3-498.png 2x
            "
            media="(max-width: 767px)"
          />

          <!-- 03 Tablet 768 -->

          <source
            srcset="
              ./images/products/tablet/product-3-220.webp 1x,
              ./images/products/tablet/product-3-440.webp 2x
            "
            type="image/webp"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              ./images/products/tablet/product-3-220.png 1x,
              ./images/products/tablet/product-3-440.png 2x
            "
            media="(max-width: 1279px)"
          />

          <!-- 03 Desktop 1280 -->

          <source
            srcset="
              ./images/products/desktop/product-3-335.webp 1x,
              ./images/products/desktop/product-3-670.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/products/desktop/product-3-335.png 1x,
              ./images/products/desktop/product-3-670.png 2x
            "
            media="(min-width: 1280px)"
          />

          <img
            class="product-image"
            src="./images/products/desktop/product-3-335.png"
            alt="Клубничное мороженное"
          />
        </picture>

        <!-- Meta -->

        <div class="product-meta">
          <h3 class="product-title">milkshakes</h3>
          <span class="product-circles"></span>
          <span class="product-circles"></span>
          <span class="product-circles"></span>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <a class="product-button" href="" aria-label="Кнопка заказать"></a>
      </li>
    </ul>
  </div>
</section>