.feedback 
{
    padding-bottom: 100px;
    background-color:#FFFFFF;
}
.feedback-container{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.feedback-description {
    background-color: #FAFAFA;
}
.feedback-text, .feedback-text-name {
text-align: center;
align-items: center;
justify-content: center;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 2.55;
color: #000000;
}

.feedback-photo {
    margin-left: auto;
    margin-right:auto;
}
.feedback-quotes {
    fill: #E1E1E1;
    width: 54px;
    height: 40px;
}
.feedback-circle {
display: flex; 
align-items: center;
justify-content: center;   
}
.feedback-circle-icon {
border-radius: 50%;
width: 4px;
height: 4px;
background: #C7133E;
&:not(:last-child) {
margin-right: 10px;
}
}
@media screen and (min-width: 320px) and (max-width:767px) {
.feedback-photo {
    margin-bottom: 29px;
}
.feedback-description {
  padding-right: 57px;
    padding-left: 66px;
    padding-top: 43px;
    padding-bottom: 26px;
}
.feedback-circle {
margin-top: 30px;
}
.feedback-text-name {
margin-top: 18px;
font-size: 14px;
line-height: 1.86;
}
}
@media screen and (min-width: 768px) {
     .feedback-container {
         width: 768px;
            padding-left: 34px;
            padding-right: 34px;
    }
    .feedback-description {
padding-right: 80px;
padding-left: 80px;
padding-bottom: 34px;
    }
    .feedback-photo {
margin-bottom: 19px;
    }
.feedback-text {
font-size: 14px;
line-height: 2.16;
letter-spacing: 0.04em;
    }
.feedback-circle {
margin-top: 24px;
        }
.feedback-text-name {
margin-top: 14px;
font-size: 16px;
line-height: 1.86;
}
}
@media screen and (min-width: 1280px) {
.feedback-container {
 width: 1300px;
 padding-left: 115px;
 padding-right: 115px;
}
.feedback-text {
    font-size: 16px;
line-height: 1.86;
}
.feedback-circle {
    margin-top: 15px;
    }
.feedback-text-name {
margin-top:15px;
font-size: 20px;
line-height: 1.86;
}
.feedback-photo {
    margin-bottom: 15px;
}
.feedback-description {
padding-right: 87px;
padding-left: 89px;
 padding-bottom: 39px;
}
}