.feedback 
{    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color:#FFFFFF;
}
.feedback-photo {
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 29px;
}
.feedback-description {
    background-color: #FAFAFA;
    padding-right: 57px;
    padding-left: 66px;
    padding-top: 43px;
    padding-bottom: 26px;
}
.feedback-text, .feedback-text-name {
text-align: center;
align-items: center;
justify-content: center;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 2.55;
color: #000000;
}
.feedback-text-name {
margin-top: 52px;
font-size: 14px;
line-height: 1.86;
}
