footer {
  background-color: #fff5f6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 97px 114px;
}

.footer-text-rose {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
.footer-text-red {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}
.footer-tel {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #000000;
  a {
    color: #d41443;
    text-decoration: none;
  }
}
.footer-social-icons ul {
  list-style: none;
  display: flex;
  padding:0;
  justify-content: flex-end;
    li:not(:last-child){
        margin-right: 24px;
    }
  a {
    border-radius: 50%;
    background: #fea5bb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    svg{
        fill: #fff;
    }
    &:hover{
        background: #D41443;
    }
  }
}
.footer-copyright {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #907e82;
  text-align: center;

  border-top: 1px solid #e1e1e1;
  padding: 10px 0;
}
