.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    .container{
        min-width: 320px;
        @media screen and (min-width: 768px){
            min-width: 768px;
        }
        @media screen and (min-width: 1280px){
            min-width: 1280px;
        }
    }
}

.header-content-wrapper{
    position: relative;
    background-color: transparent;
    min-width: 320px;
    font-family: DM Sans;
    color: #ffffff;
    padding-top: 6px;
    @media screen and (min-width: 768px){
        padding-top: 38px;
    }
}

.header-flex-container{
    position: relative;
    display: flex;
    flex-grow: 1;
    @media screen and (min-width: 1280px){
        left: -70px;
        width: calc(100% + 70px);
        display: flex;
    }
}

.header-navigation-wrapper{
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: auto;
    top: unset;
    flex-grow: 1;
    background-color: transparent;

    &.is-open{
        position: absolute;
        right: -20px;
        top: -5px;
        display: flex;
        flex-direction: column;
        width: 254px;
        height: 500px;
        flex-grow: 1;
        background-color: #E17992;
        z-index: 10;
    }

    @media screen and (min-width: 768px){
        &.is-open{
            top: -38px;
            right: -34px;
            height: 500px;
        }
    }

    @media screen and (min-width: 1280px){
        display: flex;
        position: unset;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: transparent;
        &.is-open{
            display: flex;
            position: unset;
            flex-direction: row;
            align-items: center;
            width: auto;
            height: auto;
            flex-grow: 1;
            background-color: transparent;
        }
    }
}



.header-logo{

    margin-right: 0px;
    width: auto;
    @media screen and (min-width: 1280px){
        margin-right: 110px;
    }
    img{
        display: block;
        margin-right: 18px;;
    }
    &-link{
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}

.header-logo-title{
    font-family: Titan One;
    color: #D41443;
    font-size: 25px;
    text-transform: uppercase;
}

.wrapper-header{
    display: flex;
}

.header-main-navigation{
    @media screen and (max-width: 1280px){
        width: 100%;
        order: 0;
        &.is-open{
            order: 1;
        }
    }
}
.header-main-navigation-list{
    display: flex;
    font-weight: bold;
    visibility: hidden;
    width: 0;
    display: none;
    &.is-open{
        display: flex;
        visibility: unset;
        flex-direction: column;
    }
    @media screen and (min-width: 1280px){
        display: flex;
        visibility: unset;
        width: 100%;
        &.is-open{
            display: flex;
            flex-direction: row;
        }
    }
}

.header-main-navigation-list__item{
    margin-right: 35px;
    cursor: pointer;
    &:last-child{
        margin-right: 0;
    }
    &-link{
        color: #ffffff;
        text-decoration: none;
        transition-duration: $_glb_transition-duration-time; 
        transition-timing-function: $_glb_cubic-hover;
        &:hover{
            color: #D41443;
        }
    }
    @media screen and (max-width: 1279px){
        padding-left: 24px;
        margin-right: 0;
        padding-top:11px;
        padding-bottom:11px;
        border-top: 1px solid #E18298;
        &:last-child{
            border-bottom: 1px solid #E18298;
        }
    }
}

.header-current-link{
    color: #D41443;
    text-decoration: none;
}

.header-burger-menu{
    margin-right: 0;
    margin-left: 5px;
    position: unset;
    display: block;
    &.is-open{
        position: absolute;
        top: 23px;
        right: 34px;
    }
    @media screen and (min-width: 768px){
        margin-right: 30px;
        &.is-open{
            margin-right: 0;
        }
    }
    @media screen and (min-width: 1280px){
        display: none;
    }
}

.header-burger-button{
    background: none;
    border: none;
    outline: none;

    .icon-close{
        display: none;
    }
    
    &.is-open .icon-close{
        display: block;
    }
    &.is-open .icon-burger{
        display: none;
    }
}

.header-button{
    display: none;    
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width: 768px){
        display: block;
    }
    @media screen and (min-width: 1280px){
        margin-left: auto;
        margin-right: unset;
        margin-top: 0;
        margin-bottom: 0;
    }
    &.is-open{
        display: block;
        margin: 60px auto 19px;
        @media screen and (min-width: 768px){
            display: block;
        }
        @media screen and (min-width: 1280px){
            margin-left: auto;
            margin-right: unset;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

}