
.hero{
    background-color: $hero-bg;
    display: flex;
    position: relative;
    // padding-top: 29px;
}
/*  ***********************************************  */
    .hero-left-side{
        display: flex;
        flex-direction: column;
        z-index: 2;
    }
    
    .hero-title-buttons{
        width: 277px;
        margin-top: 84px;
        margin-bottom: 56px;
    }
        .hero-main-header{
            margin-bottom: 25px;
            &__light{
                color: $white;
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0.04em;
                @media screen and (min-width: 768px){
                    font-size: 22px;
                    line-height: 25px;
                } 
                @media screen and (min-width: 1280px){
                    color: $white;
                    font-size: 38px;
                    line-height: 44px;
                }
            }
            &__dark{
                color: $accent;
                font-size: 48px;
                line-height: 96.5%;
                @media screen and (min-width: 768px){
                    font-size: 34px;
                    line-height: 90.5%;
                }
                @media screen and (min-width: 1280px){
                    font-size: 58px;
                    line-height: 90.5%;
                }
            }
        }
 
        .hero-button-list{
            display: flex;
            list-style: none;
            text-decoration: none;
            &__item:not(:last-child){
                margin-right: 15px;
            }
        }
        /*  ***********************************************  */
        .hero-product{
            display: flex;
            flex-direction: row;
            width: 418px;
            padding-bottom: 53px;
        }

            .hero-product-picture{
                width: 188px;
            }

            .hero-product-description{
                &__text{
                    padding-top: 55px;
                    font-size: 14px;
                    line-height: 140%;
                    color: #ffffff;
                    margin-bottom: 20px;
                }
                &__link{
                    display: block;
                    background-color: #ffffff;
                    height: 26px;
                    width: 26px;
                    border-radius: 26px;
                }
            }
        /*  ***********************************************  */
        .hero-main-image-wrapper{
            display: flex;
            align-items: flex-end;
            position: absolute;
            right: 0;
            @media screen and (min-width: 768px){
                position: relative;
                right: unset;
            }
            @media screen and (min-width: 1280px){
                position: relative;
                right: unset;
            }
        }

            .hero-ice-cream{
                z-index: 1;
            }

            .hero-ellipce{
                position: absolute;
                overflow: hidden;
                top: -10px;
                background-color: #FFA5BA;
                width: 538px;
                height: 538px;
                left: -25%;
                border-radius: 538px;
                z-index: 0;
            }

/*  ***********************************************  */

    .hero-right-side{
        display: flex;
        margin-left: auto;
        display: none;
        @media screen and (min-width: 768px){
            display: block;
        }
        @media screen and (min-width: 1280px){
            display: block;
        }
    }

    .hero-right-side-list{
        margin-top: 74px;
        &__item{
            text-align: right;
            &:not(:last-child){
                margin-bottom: 13px;
            }
            .hero-num{
                display: block;
                position: relative;
                font-size: 46px;
                line-height: 53px;
                color: #D41443;
                font-family: Titan One;
                z-index: 1;
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    right: -5px;
                    top: 2px;
                    border-radius: 16px;
                    background-color: #FFFFFF;
                    z-index: -1;
                }
            }
            .type-of-franchise{
                display: block;
                font-size: 14px;
                line-height: 18px;
                color: #FFFFFF;
                font-family: DM Sans;
            }
        }
    }