.hero{
    background-color: $hero-bg;
    .button{
        @media screen and (max-width: 1279px){
            height: 24px;
            font-size: 8px;
            line-height: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .container{
        width: 320px;
        @media screen and (min-width: 768px){
            width: 768px;
        }
        @media screen and (min-width: 1280px){
            width: 1280px;
        }
    }
}
 
.hero-title-st{
    color: $white;
}
.hero-section-title-text{
    color: $accent;
}
 
.hero-list{
    list-style: none;
    text-decoration: none;
}
 
.hero-buttons{
    display: flex;
    & li:not(:last-child){
        margin-right: 8px;
    }
}

.hero-ellipce{
    position: absolute;
    z-index: 2;
}

.ice-cream{
    position: absolute;
    z-index: 3;
}

.hero-section{
    position: relative;
    height: 502px;   
    h1{
        display: inline-block; // ширина заголовка по контенту
    }
}

.hero-button{
    height: 24px;
}

.hero-products-button{
    width: 63px;
    margin-right: 8px;
}

.hero-how-its-made-button{
    width: 83px;
}

@media screen and (max-width: 767px){
    .hero-section{
        overflow: hidden;
    
        .hero-ellipce{
            
            left: 36px;
            top: 83px;
            width: 346px;
            height: 344px;
            background-color: $hero-ellipce;
            border-radius: 50%;
        }
    
        .ice-cream{
            
            left: 117px;
            top: 92px;
            width: 171px;
            height: 410px;
            background-image: url(../images/hero/mob-ice-cream.png);
            
        }
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
            .ice-cream{
                background-image: url(../images/hero/mob-ice-cream@2x.png);
                background-size: 100% auto;     //подстраиваю картинку под ширину контейнера
            }
        }
    
    
        h1{
            position: relative;
            z-index: 4;  
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 26px;
            line-height: 1.154;
            letter-spacing: 0.04em;
            
            padding-top: 193px;
    
            .hero-section-title-text{   
                font-size: 48px;
                line-height: 96.5%;
            }
        }
        
        .hero-girl,
        .hero-product,
        .hero-numbers{
            display: none;
        }
    
        .hero-buttons{
            position: absolute;
            z-index: 4; 
            margin-top: 19px;
        }
    }
}

.hero-title-container{
    display:flex;
    justify-content: space-between;
    padding-top: 102px;
}
 
@media screen and (min-width: 768px){
 
    .hero-section{
    
        height: 399px;
 
        .hero-title-container{
            display:flex;
            justify-content: space-between;
            padding-top: 102px;
        }
 
        
 
        .hero-buttons{
            margin-top: 8px;
        }
   
        
    }
 
    h1{
        font-size: 22px;
        line-height: 1.136; 
        
        
 
        .hero-section-title-text{ 
            font-size: 34px;
            line-height: 90.5%;
        }
    }
 
    .hero-numbers{
     
        text-align: right;
        color: $white;
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        .hero-num-one{
            margin-bottom: 13px;
            }
        
 
        .hero-num{
            position: relative;
            z-index: 3;
            font-size: 28px;
            line-height: 32px;
            color: $accent;
            font-family: $h-font;
            font-style: normal;
            font-weight: normal;
            &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    right: -8px;
                    top: -2px;
                    border-radius: 16px;
                    background-color: $white;
                    z-index: -1;
            }
        }
 
        
    }
 
    .hero-product{
        position: relative;
        display: block;
        margin-top: 20px;
        
        

        

        .hero-product-description{
            font-family: $main-font;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 12px;
            color: $white;
            padding-top: 47px;
            padding-left: 120px;
            p{
                display: inline-block;
                width: 114px;
                height: 48px;
                margin-bottom: 7px;
                letter-spacing: 0;
            }
            
        }
    }

    .hero-ellipce{
            
        width: 324px;
        height: 322px;
        left: 307px;
        top: 31px;
        background-color: $hero-ellipce;
        border-radius: 50%;
    }

    .hero-milk-img{
        position: absolute;
        width: 124px;
        height: 126px;
        background-image: url(../images/hero/tab-milk.png);
        
    }
 
    .ice-cream{
            
        width: 143px;
        height: 336px;
        left: 378px;
        top: 63px;
        background-image: url(../images/hero/tab-ice-cream.png);
        
    }

    .hero-girl  {
        position: absolute;             //кинула абсолютом чтоб быстрее закончить
        z-index: 5;                     // можно сделать через флекс
        left: 575px;
        top: 266px;
        width: 168px;
        height: 133px;
        background-image: url(../images/hero/tab-girl.png);
    }  
    
    .hero-link-img{
        width: 18px;
    }

 
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        .ice-cream{
            background-image: url(../images/hero/tab-ice-cream@2x.png);
            background-size: 100% auto;
        }
        .hero-milk-img{
            background-image: url(../images/hero/tab-milk@2x.png);
            background-size: 100% auto;
        }
        .hero-girl  {
            background-image: url(../images/hero/tab-girl@2x.png);
            background-size: 100% auto;
        }
    }
 
    
}
 
 @media screen and (max-width: 1279px){
    .hero-button{
        
        font-size: 8px;
        line-height: 1.25;
    }
}
 
@media screen and (min-width: 1280px){
    .hero-section{
        height: 665px;
        .hero-buttons{
            margin-top: 7px;
            & li:not(:last-child){
                margin-right: 15px;
            }
        }
        .hero-title-container{
            padding-top: 171px;
        }
    }

    .hero-numbers{
     
        text-align: right;
        color: $white;
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.286;
        .hero-num-one{
            margin-bottom: 13px;
            }
        
 
        .hero-num{
           
            font-size: 46px;
            line-height: 1.152;
            color: $accent;
            font-family: $h-font;
            font-style: normal;
            font-weight: normal;
            &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -16px;
                    top: -5px;
                    border-radius: 16px;
                    background-color: $white;
                    z-index: -1;
                    }
        }
 
     ////////////////////
        
    }
 
    h1{
        font-size: 38px;
        line-height: 1.158;  
        .hero-section-title-text{   
            
        font-size: 58px;
        line-height: 90.5%;
        /* or 52px */
        
        
        }
          
    }

    //////

    .hero-button{

        font-size: 14px;
        line-height: 1.286;
        height: 40px;
        
    }
 
    .hero-products-button{
        width: 104px;
        margin-right: 15px;
 
        &:focus,
        &:hover{
        background-color: $accent-hover;
        }
    }
    
    .hero-how-its-made-button{
        width: 138px;
        &:focus,
        &:hover{
        background-color: $white-hover;
        }
    }

    /////////

    .hero-product{
        // display: flex;
        
        margin-top: 56px;
        
        .hero-product-description{
           
            font-size: 14px;
            line-height: 140%;
            color: $white;
            padding-top: 57px;
            padding-left: 218px;
            p{
                display: inline-block;
                width: 200px;
                height: 78px;
                margin-bottom: 20px;
                letter-spacing: 0;
            }
            
        }
      

    }

    .hero-milk-img{
        // position: relative;
        width: 188px;
        height: 191px;
        background-image: url(../images/hero/desktop-milk.png);
        
    }

    .hero-link-img{
        width: 26px;
    }
    //////////////////////

    .hero-ellipce{
            
        width: 538px;
        height: 538px;
        left: 475px;
        top: 52px;
        background-color: $hero-ellipce;
        border-radius: 50%;
    }

    
 
    .ice-cream{
            
        width: 236px;
        height: 557px;
        left: 594px;
        top: 108px;
        background-image: url(../images/hero/desktop-ice-cream.png);
        
    }

    .hero-girl  {
        position: absolute;             //кинула абсолютом чтоб быстрее закончить
        z-index: 5;                     // можно сделать через флекс
        width: 293px;
        height: 232px;
        left: 878px;
        top: 433px;
        background-image: url(../images/hero/desktop-girl.png);
    } 
    
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
        .ice-cream{
            background-image: url(../images/hero/desktop-ice-cream@2x.png);
            background-size: 100% auto;
        }
        .hero-milk-img{
            background-image: url(../images/hero/desktop-milk@2x.png);
            background-size: 100% auto;
        }
        .hero-girl  {
            background-image: url(../images/hero/desktop-girl@2x.png);
            background-size: 100% auto;
        }
    }


}




// .hero{
//     background-color: $hero-bg;
//     display: flex;
//     position: relative;
//     // padding-top: 29px;
// }
// /*  ***********************************************  */
//     .hero-left-side{
//         display: flex;
//         flex-direction: column;
//         z-index: 2;
//     }
    
//     .hero-title-buttons{
//         width: 277px;
//         margin-top: 84px;
//         margin-bottom: 56px;
//     }
//         .hero-main-header{
//             margin-bottom: 25px;
//             &__light{
//                 color: $white;
//                 font-size: 26px;
//                 line-height: 30px;
//                 letter-spacing: 0.04em;
//                 @media screen and (min-width: 768px){
//                     font-size: 22px;
//                     line-height: 25px;
//                 } 
//                 @media screen and (min-width: 1280px){
//                     color: $white;
//                     font-size: 38px;
//                     line-height: 44px;
//                 }
//             }
//             &__dark{
//                 color: $accent;
//                 font-size: 48px;
//                 line-height: 96.5%;
//                 @media screen and (min-width: 768px){
//                     font-size: 34px;
//                     line-height: 90.5%;
//                 }
//                 @media screen and (min-width: 1280px){
//                     font-size: 58px;
//                     line-height: 90.5%;
//                 }
//             }
//         }
 
//         .hero-button-list{
//             display: flex;
//             list-style: none;
//             text-decoration: none;
//             &__item:not(:last-child){
//                 margin-right: 15px;
//             }
//         }
//         /*  ***********************************************  */
//         .hero-product{
//             display: flex;
//             flex-direction: row;
//             width: 418px;
//             padding-bottom: 53px;
//         }

//             .hero-product-picture{
//                 width: 188px;
//             }

//             .hero-product-description{
//                 &__text{
//                     padding-top: 55px;
//                     font-size: 14px;
//                     line-height: 140%;
//                     color: #ffffff;
//                     margin-bottom: 20px;
//                 }
//                 &__link{
//                     display: block;
//                     background-color: #ffffff;
//                     height: 26px;
//                     width: 26px;
//                     border-radius: 26px;
//                 }
//             }
//         /*  ***********************************************  */
//         .hero-main-image-wrapper{
//             display: flex;
//             align-items: flex-end;
//             position: absolute;
//             right: 0;
//             @media screen and (min-width: 768px){
//                 position: relative;
//                 right: unset;
//             }
//             @media screen and (min-width: 1280px){
//                 position: relative;
//                 right: unset;
//             }
//         }

//             .hero-ice-cream{
//                 z-index: 1;
//             }

//             .hero-hero-ellipce{
//                 position: absolute;
//                 overflow: hidden;
//                 top: -10px;
//                 background-color: #FFA5BA;
//                 width: 538px;
//                 height: 538px;
//                 left: -25%;
//                 border-radius: 538px;
//                 z-index: 0;
//             }

// /*  ***********************************************  */

//     .hero-right-side{
//         display: flex;
//         margin-left: auto;
//         display: none;
//         @media screen and (min-width: 768px){
//             display: block;
//         }
//         @media screen and (min-width: 1280px){
//             display: block;
//         }
//     }

//     .hero-right-side-list{
//         margin-top: 74px;
//         &__item{
//             text-align: right;
//             &:not(:last-child){
//                 margin-bottom: 13px;
//             }
//             .hero-num{
//                 display: block;
//                 position: relative;
//                 font-size: 46px;
//                 line-height: 53px;
//                 color: #D41443;
//                 font-family: Titan One;
//                 z-index: 1;
//                 &::after{
//                     content: "";
//                     display: block;
//                     position: absolute;
//                     width: 16px;
//                     height: 16px;
//                     right: -5px;
//                     top: 2px;
//                     border-radius: 16px;
//                     background-color: #FFFFFF;
//                     z-index: -1;
//                 }
//             }
//             .type-of-franchise{
//                 display: block;
//                 font-size: 14px;
//                 line-height: 18px;
//                 color: #FFFFFF;
//                 font-family: DM Sans;
//             }
//         }
//     }