/* Круто будет если вы сможете это сделать списком */
/* Ментор сказал что для начала вставьте это всё тупо одной картинкой */
.images-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 123px;
}